.hiro {
  height: inherit;
  width: 100%;
  display: flex;
}
.navrooms {
  width: 25%;
  height: 100%;
  background-color: rgba(108, 249, 72, 0.785);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content {
  width: 75%;
  height: 100%;
  background-color: rgb(224, 244, 213);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
